.MainContainer {
  margin: 5em;
}

.Paper {
  width: 80vw;
  height: 80vh;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Paper2 {
  width: 80vw;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MessagesBody {
  width: 80%;
  margin: 10em;
  overflow-y: scroll;
  height: 80%;
}

.messageRow {
  display: flex;
  justify-content: flex-start;
}

.messageRowRight {
  display: flex;
  justify-content: flex-end;
}

.messageBlue {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 25px;
  background-color: #A8DDFD;
  width: 60%;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}
.messageBlue:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.messageBlue:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97C6E3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.messageOrange {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 25px;
  background-color: #f8e896;
  width: 60%;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;
}

.messageOrange:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #f8e896;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  right: -15px;
}

.messageOrange:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #dfd087;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  right: -17px;
}

.messageContent {
  padding: 0;
  margin: 0;
}

.messageTimeStampRight {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  bottom: -3px;
  right: 5px;
}

.orange {
  color: white;
  background-color: lightsalmon;
  width: 40em;
  height: 20em;
}
.avatarNothing {
  color: transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.displayName {
  margin-left: 20px;
}

.wrapForm {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.wrapText {
  width: 100%;
}
